<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="vendorheading text-left">
        <h2>LOGIN</h2>                      
      </div>

      <div>                      
        <div>
          <form [formGroup]="loginFormGroup" (ngSubmit)="loginFormSubmit()">           
             <div class="form-group">
              <input formControlName="userEmail" id="email" type="email" class="form-control" placeholder="Email Address" name="email" required="" maxlength="150">
               <!-- <small class="text-danger" *ngIf="!!showErrorUserEmail">{{appVariables.vendorLoginInvalidEmailErrorMessage}}</small> -->
             </div>
          
            <div class="form-group">
              <!-- <button class="showvalue" type="button"><i class="icon icon-eye-cross"></i></button> -->
              <input formControlName="userPassword" type="password" placeholder="Password" class="form-control" id="password" name="password" required="" minlength="8">              
            </div>            
            <div class="vregisterbtns">             
               <button class="btn btn-primary" type="submit"> <i class="icon icon-arrow-long-right"></i>LOGIN</button>                                            
               <br>
               <!-- <span class="text-danger" *ngIf="showVendorLoginRespMessage==true">Invalid Email or Password!</span> -->
            </div>
            </form>
            <div>
              New User! Register <a routerLink="/user-registration">here</a>
            </div>                         
        </div>
      

    </div>
  </div>
</div>